server/hello-world/.idea
server/core/.idea
server/.idea
jersey-web/out
gradle-wrapper.jar
jersey-web/db/out
jersey-web/filter/out
jersey-web/model/out
jersey-web/web/out
scala/.idea
scala/target
scala/project
jersey-web/filter/request/out
jersey-web/filter/response/out
